server {
    listen 80;
    #listen 443 ssl;
    #ssl_certificate /etc/ssl/certs/;
    #ssl_certificate_key /etc/ssl/certs/;
    #error_log stderr warn;
    #access_log /dev/stdout main;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://unix:/tmp/socket/gunicorn.sock;
    }
}